<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>registroUsuariosServlet</servlet-name>
        <servlet-class>controladores.registroUsuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesionServlet</servlet-name>
        <servlet-class>controladores.InicioSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionRutasServlet</servlet-name>
        <servlet-class>controladores.GestionRutasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaPartidoServlet</servlet-name>
        <servlet-class>controladores.AltaPartidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosTodosPartidosServlet</servlet-name>
        <servlet-class>controladores.DatosTodosPartidosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaCandidatoServlet</servlet-name>
        <servlet-class>controladores.AltaCandidatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosTodosCandidatos</servlet-name>
        <servlet-class>controladores.DatosTodosCandidatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaEleccionesServlet</servlet-name>
        <servlet-class>controladores.AltaEleccionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirEleccionesServlet</servlet-name>
        <servlet-class>controladores.AbrirEleccionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarEleccionesServlet</servlet-name>
        <servlet-class>controladores.FinalizarEleccionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroVotoServlet</servlet-name>
        <servlet-class>controladores.RegistroVotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultadosEscrutinioServlet</servlet-name>
        <servlet-class>controladores.ResultadosEscrutinioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerCensoCompletoServlet</servlet-name>
        <servlet-class>controladores.VerCensoCompletoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerCandidatosLocalidadServlet</servlet-name>
        <servlet-class>controladores.VerCandidatosLocalidadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaParticipacionServlet</servlet-name>
        <servlet-class>controladores.AltaParticipacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosParticipacion</servlet-name>
        <servlet-class>controladores.DatosParticipacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCookieEleccionesServlet</servlet-name>
        <servlet-class>controladores.CrearCookieEleccionesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registroUsuariosServlet</servlet-name>
        <url-pattern>/registroUsuariosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesionServlet</servlet-name>
        <url-pattern>/InicioSesionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionRutasServlet</servlet-name>
        <url-pattern>/GestionRutasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaPartidoServlet</servlet-name>
        <url-pattern>/AltaPartidoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosTodosPartidosServlet</servlet-name>
        <url-pattern>/DatosTodosPartidosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaCandidatoServlet</servlet-name>
        <url-pattern>/AltaCandidatoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosTodosCandidatos</servlet-name>
        <url-pattern>/DatosTodosCandidatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaEleccionesServlet</servlet-name>
        <url-pattern>/AltaEleccionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirEleccionesServlet</servlet-name>
        <url-pattern>/AbrirEleccionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarEleccionesServlet</servlet-name>
        <url-pattern>/FinalizarEleccionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroVotoServlet</servlet-name>
        <url-pattern>/RegistroVotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultadosEscrutinioServlet</servlet-name>
        <url-pattern>/ResultadosEscrutinioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerCensoCompletoServlet</servlet-name>
        <url-pattern>/VerCensoCompletoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerCandidatosLocalidadServlet</servlet-name>
        <url-pattern>/VerCandidatosLocalidadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaParticipacionServlet</servlet-name>
        <url-pattern>/AltaParticipacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosParticipacion</servlet-name>
        <url-pattern>/DatosParticipacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCookieEleccionesServlet</servlet-name>
        <url-pattern>/CrearCookieEleccionesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
